:root {
  /* colors */
  color-scheme: light dark;
  --yellow: light-dark(#efaf25, #e7bf6b);
  --dark-grey: light-dark(white, #2b2b2b);
  --grey: light-dark(#edf0f4, rgb(61, 63, 65));
  --pale-blue: light-dark(#2b2b2b, #b7c1cc);
  --orange: rgb(188, 122, 64);
  --green: light-dark(rgb(164, 189, 92), rgb(171, 193, 109));
  --vibrant-purple: rgb(204, 118, 209);
  --light-blue: rgb(169, 216, 248);
  /* sizes */
  --border-radius: 4px;
}

body {
  background-color: var(--dark-grey);
  color: var(--pale-blue);
  font-family: monospace;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
  margin-right: 25vw;
  font-size: 15px;
}

@media only screen and (max-width: 1200px) {
  body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

header {
  margin-bottom: 24px;
}

nav {
  background-color: var(--grey);
  border-radius: var(--border-radius);
  padding: 4px 8px;
  font-size: 12pt;
  a {
    text-decoration-line: none;
  }
  a:hover {
    text-decoration-line: underline;
  }
}

a {
  color: var(--yellow);
}

h1 {
  color: var(--green);
}

li {
  margin: 4px 0px;
}

.main-heading {
  margin: 8px 16px;
}

.selected {
  font-weight: bolder;
}

.separator {
  color: var(--orange);
  user-select: none;
}
