---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <p>Hi, I'm Ron!</p>
  <p>
    I'm a fourth-year Computer Science student at the University of British
    Columbia. I've always been drawn to back-end and systems-level
    programming—if it doesn't have a GUI, I probably think it's cool.
  </p>
  <p>
    Lately, I've been learning more about compiler design and computer security,
    building on what I picked up from messing with hex editors and poking at
    exposed API endpoints.
  </p>
  <p>
    This site is part homepage, part resumé, and part dumping ground. If I make
    something cool, I'll link to it here. Who knows—I might even blog a bit if I
    find something to say.
  </p>
  <h4>Wanna chat?</h4>
  <strong class="green">contact [at] ronf [dot] dev</strong>
</BaseLayout>
