---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Links">
<ul>
    <li>Myself, elsewhere:</li>
    <ul>
        <li><a href="https://github.com/RonSkons" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/friedman-ron/" target="_blank">LinkedIn</a></li>
    </ul>
    <li><em>TODO</em></li>
</ul>
</BaseLayout>
