---
import Separator from "../components/Separator.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Links">
<ul>
    <li>Myself, elsewhere:</li>
    <ul>
        <li><a href="https://github.com/RonSkons" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/friedman-ron/" target="_blank">LinkedIn</a></li>
    </ul>
    <li>Friends, cool people, etc.:</li>
    <ul>
        <li>Kevin Liu <Separator /> <a href="https://wevie.dev/" target="_blank">wevie.dev</a></li>
        <li>Youssef Saleh <Separator /> <a href="https://youssefsaleh.com/" target="_blank">youssefsaleh.com</a></li>
    </ul>
    <li><em>TODO</em></li>
</ul>
</BaseLayout>
