---
import Separator from "./Separator.astro"
const props = Astro.props
const renderSlot = Astro.slots.has('default')
---
<div class="resume-item">
    <div style="text-align: left; display: flex; flex-direction: row; align-items: top; row-gap: 10px; flex-wrap: wrap">
        <div style="display: flex; flex-direction: row; align-items: top">
            <img class="resume-icon" src={"../../icons/" + props.icon} alt={props.organization + " Logo"} draggable="false">
            <div>
                <h3 style="margin-bottom: 8px">{props.title}</h3> 
                <em>{props.organization}</em>
            </div>
        </div>
        <p style="margin-left: auto">{props.from} <Separator /> {props.to}</p>
    </div>
    {
       renderSlot && (
        <details>
            <summary style="user-select: none">Details</summary>
            <div style="text-align: left" class="content"><slot /></div>
        </details>
        )
    }
</div>
