---
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{props.title} — Ron Friedman</title>
  </head>
  <body>
    <header>
      <div
        style="display: flex; flex-direction: row; align-items: center; row-gap: 10px; justify-content: center; flex-wrap: wrap"
      >
        <a href="/" style="text-decoration: none"
          ><h1 class="main-heading green">Ron's Site</h1></a
        >
        <NavBar title={props.title} />
      </div>
    </header>
    <slot />
    <footer>
      <a href="https://github.com/RonSkons/ronf-dev" target="_blank"
        >Source Code</a
      >
    </footer>
  </body>
</html>
