---
import NavBar from '../components/NavBar.astro'
import '../styles/global.css'
const props = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{props.title} — Ron Friedman</title>
	</head>
	<body>
		<header>
			<div style="display: flex; align-items: baseline; column-gap: 10px; row-gap: 10px; justify-content: center; flex-wrap: wrap">
				<a href="/" style="text-decoration: none"><h1>Ron's Site</h1></a>
				<em style="cursor: wait">(Under Construction)</em>
			<NavBar title={props.title}/>
			</div>
		</header>
		<slot />
	</body>
</html>
